*.deb
*.egg-info
*.log
*.pyc
*.sqlite
*.swp
*.tmp
*.DS_Store
*~
node_modules
.DS_Store
.pytest_cache
.scannerwork
.venv*
.vscode
.run
.build
__pycache__
**/.idea/
*.pem
/.helm/
/certs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# settings
settings.json

# Specific to this repo
ignore*
*.tdf
*.tdf.html
*.html
*decrypted*
virtru-tdf3-lib-python*
.DS_Store
/quickstart/sample.txt.ntdf
/quickstart/sample_out.txt
