# requirements.txt
# base requirements

-i https://pypi.org/simple
alembic
asgiref
asyncpg
cffi
click
databases[postgresql]
fastapi
h11
httptools
markupsafe
pydantic==1.10.8
pyjwt
python-dotenv
python-editor
python-multipart
sqlalchemy
starlette
typing-extensions
uvicorn[standard]
uvloop
watchgod
websockets
anyio
greenlet
idna
pytest
sniffio
typing-extensions
python-keycloak
opentdf
colorlog
aiohttp
