.action-default {
  font-family: "Inter", sans-serif;
  border: 1px solid #04a777;
  color: #04a777;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 16px 32px;
  cursor: pointer;
  background: white;
}
